[submodule "plugins/MapasBlame"]
	path = plugins/MapasBlame
	url = https://github.com/mapasculturais/plugin-MapasBlame.git
[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth.git
[submodule "plugins/FormCommunication"]
	path = plugins/FormCommunication
	url = https://github.com/Secult-PE/plugin-FormCommunication.git
[submodule "plugins/SettingsPe"]
	path = plugins/SettingsPe
	url = https://github.com/erleibiazzio/SettingsPe.git
[submodule "plugins/ClaimForm"]
	path = plugins/ClaimForm
	url = https://github.com/mapasculturais/plugin-ClaimForm.git
[submodule "plugins/Metabase"]
	path = plugins/Metabase
	url = https://github.com/mapasculturais/plugin-Metabase
[submodule "themes/MapasMuseus"]
	path = themes/MapasMuseus
	url = https://github.com/mapasculturais/theme-Museus
[submodule "plugins/AdminLoginAsUser"]
	path = plugins/AdminLoginAsUser
	url = https://github.com/mapasculturais/plugin-AdminLoginAsUser.git
[submodule "plugins/RegistrationPayments"]
	path = plugins/RegistrationPayments
	url = https://github.com/mapasculturais/plugin-RegistrationPayments.git
